@each $file, $family in (Synonym, FiraSans, WorkSans),
  ('Synonym', 'Fira Sans', 'Work Sans')
{
  @font-face {
    font-family: $(family);
    font-style: normal;
    font-weight: 200 700;
    src: url('assets/fonts/$(file)/$(file)-Variable.woff2')
        format('woff2-variations'),
      url('assets/fonts/$(file)/$(file)-Regular.woff2') format('woff2');
  }

  @each $weight, $w in (ExtraLight, Medium, Bold), (200, 500, 700) {
    @font-face {
      font-family: $(family);
      font-style: normal;
      font-weight: $(w);
      src: url('assets/fonts/$(file)/$(file)-Variable.woff2')
          format('woff2-variations'),
        url('assets/fonts/$(file)/$(file)-$(weight).woff2') format('woff2');
    }
  }
}

@each $file, $family in (FiraSans, WorkSans), ('Fira Sans', 'Work Sans') {
  @font-face {
    font-family: $(family);
    font-style: italic;
    font-weight: 200 700;
    src: url('assets/fonts/$(file)/$(file)-VariableItalic.woff2')
        format('woff2-variations'),
      url('assets/fonts/$(file)/$(file)-RegularItalic.woff2') format('woff2');
  }

  @each $weight, $w in (ExtraLight, Medium, Bold), (200, 500, 700) {
    @font-face {
      font-family: $(family);
      font-style: italic;
      font-weight: $(w);
      src: url('assets/fonts/$(file)/$(file)-VariableItalic.woff2')
          format('woff2-variations'),
        url('assets/fonts/$(file)/$(file)-$(weight)Italic.woff2')
          format('woff2');
    }
  }
}

@each $weight, $w in (ExtraLight, Regular, Medium, Bold), (200, 400, 500, 700) {
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: $(w);
    src: url('assets/fonts/NotoSans/NotoSans-$(weight).woff2') format('woff2');
  }

  @font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: $(w);
    src: url('assets/fonts/NotoSans/NotoSans-$(weight)Italic.woff2')
      format('woff2');
  }
}
